//////////////////////////////////////////////////
// Colors

:root {
    --color-active: #00aa51;
    --timer-state: 100%;
}

//////////////////////////////////////////////////
// Gradients

//////////////////////////////////////////////////
// Spacing

//////////////////////////////////////////////////
// Responsive Breakpoints

$breakpoints: ();
